{% extends 'layout.html' %} {% block content %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="/">Inicio</a>
        <a class="breadcrumb-item text-dark" href="/tienda">Tienda</a>
        <span class="breadcrumb-item active">Detalle de Producto</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 mb-30">
      <div class="swiper tranding-slider">
        <div class="swiper-wrapper">
          {% for prodimg in producto.productoimagen_set.all %}
          <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
              <img id="myImg" src="{{prodimg.imagen.url}}" alt="Image" />
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-lg-7 h-auto mb-30">
      <div class="h-100 bg-light p-30">
        <h3>{{producto.nombre}}</h3>
        <!--
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(99 Reviews)</small>
                </div>-->
        <h3 class="font-weight-semi-bold mb-4">S/{{producto.precio}}</h3>
        <p class="mb-4">{{producto.descripcion}}</p>
        <div class="d-flex mb-3">
          <strong class="text-dark mr-3">Tamaño:</strong>
          <p class="mb-4">{{producto.size_disponible}}</p>
        </div>
        <div class="d-flex mb-3">
          <strong class="text-dark mr-3">Rating:</strong>
          <p class="mb-4">{{producto.popularidad}}</p>
        </div>

        <div class="d-flex mb-4">
          <strong class="text-dark mr-3">Colores:</strong>
          <p class="mb-4">{{producto.color_disponible}}</p>
          <!--
          <form>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                class="custom-control-input"
                id="color-1"
                name="color"
              />
              <label class="custom-control-label" for="color-1">Black</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                class="custom-control-input"
                id="color-2"
                name="color"
              />
              <label class="custom-control-label" for="color-2">White</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                class="custom-control-input"
                id="color-3"
                name="color"
              />
              <label class="custom-control-label" for="color-3">Red</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                class="custom-control-input"
                id="color-4"
                name="color"
              />
              <label class="custom-control-label" for="color-4">Blue</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                class="custom-control-input"
                id="color-5"
                name="color"
              />
              <label class="custom-control-label" for="color-5">Green</label>
            </div>
          </form>-->
        </div>
        <div class="d-flex align-items-center mb-4 pt-2">
          
          <form
            action="/carrito/add/{{producto.id}}"
            class="d-flex"
            method="POST"
          >
            {% csrf_token %}
            <div class="input-group quantity mr-3" style="width: 130px">
              <div class="input-group-btn">
                <a onclick="reducir()" class="btn btn-primary btn-minus">
                  <i class="fa fa-minus"></i>
                </a>
              </div>
              <input
                type="text"
                id="itemsd"
                class="form-control bg-secondary border-0 text-center"
                value="1"
                name="cantidad"
              />
              <div class="input-group-btn">
                <a onclick="aumentar()" class="btn btn-primary btn-plus">
                  <i class="fa fa-plus"></i>
                </a>
              </div>
            </div>
            <button class="btn btn-primary px-3">
              <i class="fa fa-shopping-cart mr-1"></i> Añadir al Carrito
            </button>
          </form>
          
        </div>
        <div class="d-flex pt-2">
          <strong class="text-dark mr-2">Share on:</strong>
          <div class="d-inline-flex">
            <a class="text-dark px-2" href="">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="text-dark px-2" href="">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/product-dtl/descripcion.html' %}
</div>
<!-- Shop Detail End -->

<!--
    pagina relacionado.html
-->

<!--
<div class="carousel-item">
  <img class="w-100 h-100" src="{{prodimg.imagen.url}}" alt="Image" />
</div>-->

{% endblock %}
